<!DOCTYPE html>
<html>
<head>
    <title>VDP-16 editor</title>
    <script src="https://kit.fontawesome.com/804c0fb444.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body class="vertical" style="overflow: hidden">

<div class="top-menu horizontal">
    <div class="selection-rectangle"></div>
    <div class="active-selection-rectangle"></div>
    <button id="code-button" class="item">Code</button>
    <button id="palettes-button" class="item">Palettes</button>
    <button id="sprites-button" class="item">Sprites</button>
    <button id="maps-button" class="item">Tilemaps</button>
    <button id="game-button" class="item" data-tooltip="Save all and run in a new tab|Ctrl+R on Mac, Alt+R elsewhere.">Run game</button>
    <button id="settings-button" class="item"><i class="fa fa-cog"></i></button>
</div>

<%- include('controllers/code-view.ejs'); %>
<%- include('controllers/palettes-view.ejs'); %>
<%- include('controllers/sprites-view.ejs'); %>
<%- include('controllers/maps-view.ejs'); %>

<%- include('components/settings-dialog-component.ejs'); %>
<%- include('components/yesno-dialog-component.ejs'); %>
<%- include('components/multiselect-dialog-component.ejs'); %>
<%- include('components/tooltip.ejs'); %>

<div class="horizontal status-bar content-centered-vertically">
    <span id="status-text" style="margin-left: 10px"></span>
</div>

<script type="text/javascript" src="client-javascripts/editor-main-client.bundle.js"></script>
</body>
</html>
